<?xml version="1.0" encoding="UTF-8"?>
 <applicationconfiguration>
     <InboxFolder>C:\\ECSKESWS\\keswsinbox\\</InboxFolder>
     <OutboxFolder>C:\\ECSKESWS\\keswsoutbox\\</OutboxFolder>
     <InboxArchiveFolder>C:\\ECSKESWS\\keswsinboxarchive\\</InboxArchiveFolder>
     <OutboxArchiveFolder>C:\\ECSKESWS\\keswsoutboxarchive\\</OutboxArchiveFolder>
     <ProcessingFolder>C:\\ECSKESWS\\processbox\\</ProcessingFolder> 
     <MaximumTimeToHoldFilesBeingProcessed>24:00:00</MaximumTimeToHoldFilesBeingProcessed>
     <AdditionalFolders>C:\\ECSKESWS\\error\\</AdditionalFolders>
     <IntergrationDatabaseurl>jdbc:mysql://LOCALHOST/KEPHISECSLATESTV1-1</IntergrationDatabaseurl>
     <IntergrationDatabaseuser>IntergrationDatabaseUser</IntergrationDatabaseuser>
     <IntergrationDatabasepassword>IntergrationDatabasePassword</IntergrationDatabasepassword>
     <ECSDatabaseUrl>jdbc:mysql://192.168.0.17/KEPHISECSLATESTV1-1</ECSDatabaseUrl>
     <ECSDatabaseuser>root</ECSDatabaseuser>
     <ECSDatabasepassword>root</ECSDatabasepassword>
     <MHXUserProfileFilePath>C:\\Program Files (x86)\\MHAccess\\kephismhbuser.pro</MHXUserProfileFilePath>
     <MHXRetriveIP>192.168.92.2</MHXRetriveIP>
     <MHXUsername>kephismhbprod</MHXUsername>
     <MHXUserPassword>ylsekqDG6e7MMyirzWLS5sPLNd3aAqmj</MHXUserPassword>
     <SenderId>keswsmhbprod</SenderId>
     <LogFile>ECSKESWSLogFile.html</LogFile>
	  <Email1>admin@kephis.org</Email1>
	  <Email2>admin@gmail.com</Email2>
	 <FilestoReceiveCount>22</FilestoReceiveCount>
     <FilestoReceive>
     <InboxFilesType1toReceive>KEPHIS01</InboxFilesType1toReceive>
     <InboxFilesType2toReceive>KEPHIS02</InboxFilesType2toReceive>
     <InboxFilesType3toReceive>KEPHIS03</InboxFilesType3toReceive>
     <InboxFilesType4toReceive>KEPHIS04</InboxFilesType4toReceive>
     <InboxFilesType5toReceive>KEPHIS05</InboxFilesType5toReceive>
     <InboxFilesType6toReceive>KEPHIS06</InboxFilesType6toReceive>
     <InboxFilesType7toReceive>KEPHIS07</InboxFilesType7toReceive>
     <InboxFilesType8toReceive>KEPHIS08</InboxFilesType8toReceive>
     <InboxFilesType9toReceive>KEPHIS09</InboxFilesType9toReceive>
     <InboxFilesType10toReceive>KEPHIS10</InboxFilesType10toReceive>
     <InboxFilesType11toReceive>KEPHIS11</InboxFilesType11toReceive>
     <InboxFilesType12toReceive>KEPHIS12</InboxFilesType12toReceive>
     <InboxFilesType13toReceive>KEPHIS13</InboxFilesType13toReceive>
     <InboxFilesType14toReceive>KEPHIS14</InboxFilesType14toReceive>
     <InboxFilesType15toReceive>KEPHIS15</InboxFilesType15toReceive>
     <InboxFilesType16toReceive>KEPHIS16</InboxFilesType16toReceive>
     <InboxFilesType17toReceive>KEPHIS17</InboxFilesType17toReceive>
     <InboxFilesType18toReceive>KEPHIS18</InboxFilesType18toReceive>
     <InboxFilesType19toReceive>KEPHIS19</InboxFilesType19toReceive>
     <InboxFilesType20toReceive>KEPHIS20</InboxFilesType20toReceive>
     <InboxFilesType21toReceive>KEPHIS21</InboxFilesType21toReceive>
     <InboxFilesType22toReceive>KEPHIS22</InboxFilesType22toReceive>
    </FilestoReceive>
 </applicationconfiguration>